{% extends "parent2.html" %}
{% block content %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>


        <link href="/static/css/annotate.css" rel="stylesheet">
    </head>

    <body>
        <div id="pannel">
            <a href="{{prev}}" class="next">&#8249;</a>
            <b>{{image.name}}</b>
            <a href="{{next}}" class="next" style="margin-right: 20px;">&#8250;</a>

            <a><b>Tools:</b></a>
            <button onclick="addRect()">Rect</button>
            <button onclick="addLasso()">Lasso</button>
            <button onclick="addPolygon()" style="margin-right: 20px;">Polygon</button>

            <a><b>Download:</b></a>
            <button onclick="download_image()">Image</button>
            <button onclick="download_json()">Json</button>
            <button onclick="download_log()">Log</button>

            <div id="username" style="float:right">
            {% for user in working %}
            <div class="avatar-circle">
                <span class="initials" title="{{user.username}}">{{user.username[0:2]}}</span>
            </div>
            {% endfor %}
            </div>
            <a style="float:right ; margin-right: 3px;"><b>Live users:</b></a>

        </div>

        <div id="container">

            <div id="principal">
                <img id="image" class='img' src="{{url_for('static', filename='../../'+image.path)}}" alt="" />
                <canvas id="layerDraw"></canvas>
                <canvas id="layerShow"></canvas>
            </div>
    
            <div id="right-pannel">
                <div id="current">
                    <h3>Current object</h3>
                    <ul id="classes">
                        {% for c in classes %}
                            <li id="c{{loop.index-1}}" style="cursor: pointer; padding: 5px; text-align: center; font-size: 14px;" onclick="set_current('{{loop.index-1}}')">{{c}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="objects">
                    <h3>Objects</h3>
                    <table id="annotations"></table>
                </div>
                <div id="imagetools">
                    <h3>Image</h3>
                </div>
            </div>

        </div>
        <meta id="my_data" data-img="{{img_id}}" data-boxes="{{boxes}}" data-name="{{image.name}}" data-log="{{log}}">
        <script src="{{url_for('static', filename='js/annotation/main.js')}}"></script>

        <script src="{{url_for('static', filename='js/annotation/zoom.js')}}"></script>
        <script src="{{url_for('static', filename='js/annotation/color.js')}}"></script>

        <script src="{{url_for('static', filename='js/annotation/tools.js')}}"></script>
        <script src="{{url_for('static', filename='js/annotation/lasso.js')}}"></script>
        <script src="{{url_for('static', filename='js/annotation/rect.js')}}"></script>
        <script src="{{url_for('static', filename='js/annotation/polygon.js')}}"></script>
        
    </body>
{% endblock %}