{% extends "parent.html" %}
{% block content %}
<head>
  <title>Choose your frame rate</title>
</head>

<body style="margin:auto">
  <h3 class="text-center text-info">Video Cutter</h3>
  <form action="" method="POST" >

  <table id="videos" style="margin-left: 20px;">
        <tr>
          <th>Video name</th>
          <th>Frame rate <br>(Interval between each image cut in sec)</th>
        </tr>
        {% for video in videos %}
        <tr>
          <td>{{video.name}}</td>
          <td>
            <div class="form-group"></div>
            <input class="form-control" id="frame_{{video.id}}" name="frame_{{video.id}}" required autocomplete="off">
          </td>
        </tr>
        {% endfor %}
  </table>
  <input class="btn btn-success" id="submit" type="submit" value="Submit" style="margin-left: 20px;">
  </form>
  <br><br>
</body>
{% endblock %}