{% extends "parent.html" %}
{% block content %}
        <form action="" method="POST" enctype="multipart/form-data">
            <label for="pname">Project name: </label><br>
            <input type="text" name="pname" id="pname"><br><br>

            <label for="ptype">Privacy: </label><br>
            <input type="radio" id="public" name="ptype" value="0"checked>Public<br>
            <input type="radio" id="private" name="ptype" value="1">Private<br><br>

            <label for="file">Upload folder: </label><br>
            <input type="file" name="files[]" id="files" multiple directory="" webkitdirectory="" mozdirectory=""><br><br>

            <input type="submit" value="Create">
        </form>
{% endblock %}