{% extends "parent2.html" %}
{% block content %}
<head>
  <link href="/static/css/settings.css" rel="stylesheet">
</head>

<body>
  {% if not can_remove %}Only the creator can make modifications of settings{% endif %}
    <h3 class="text-center text-info">PLugins</h3>

    <table id="users">
      {{ emit_event("tmpl_before_content") }}

      {% for plugin in plugins %}
      <tr>
        <td><b>{{ plugin.name }}</b> by {{ plugin.author }}</td>
        <td><i>{{ plugin.description }}</i></td>
        <td>{{ plugin.license }}</td>
        <td>{{ plugin.path }}</td>
        <td><a href="{{ url_for('disable', plugin=plugin.identifier) }}">Disable</a></td>
        <td><a href="{{ url_for('enable', plugin=plugin.identifier) }}">Enable</a></td>
        <!--(<small>The Blueprint is still accessible via /hello because a blueprint cannot be unregistered _and_ needs to be registered before the app is serving requests.</small>)-->
      </tr>
      {% endfor %}
    </table>

    <button onclick="saveConfig()">Download configuration</button><br><br>

    <h3 class="text-center text-info">Members</h3>
    <table id="users">
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Surname</th>
          <th>{% if can_remove %}Remove{% endif %}</th>

        </tr>
        {% for m in members %}
        <tr>
          <td>{{m.username}}</td>
          <td>{{m.firstname}}</td>
          <td>{{m.surname}}</td>
          <td>
          {% if can_remove and m.id != project.creator.id %}
          <div class="cellbutton">
          <a href="/project/{{project.id}}/remove/{{m.id}}">Remove</a>
          </div>
          {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
</body>

<meta id="my_config" data-config="{{project.exportConfig()}}" data-name="{{ project.name }}">
<script src="{{url_for('static', filename='js/exportconfig.js')}}"></script>
{% endblock %}