{% extends "parent.html" %}
{% block content %}
<head>
  <link href="/static/css/projects.css" rel="stylesheet">
</head>

<body>
    <h3 class="text-center text-info">Project(s)</h3>
    <table id="projects">
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Public</th>
        </tr>
        {% for project in projects %}
        <tr>
          <td><a href="../project/{{project.id}}/dataset">{{project.creator.username}}/{{project.name}}</a></td>
          <td>{{project.members}}</td>
          <td>{{project.privacy}}</td>
        </tr>
        {% endfor %}
  </table>
</body>
{% endblock %}