{% extends "parent.html" %}
{% block content %}
<body>
    <h3 class="text-center text-info">Project(s)</h3>
    <table>
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Join</th>
        </tr>
        {% for project in projects %}
        <tr>
          <td>{{project.creator.username}}/{{project.name}}</a></td>
          <td>{{project.members}}</td>
          <td><a href="../joined/{{project.id}}">Join</a></td>
        </tr>
        {% endfor %}
  </table>
</body>
{% endblock %}