{% extends "parent.html" %}
{% block content %}
<head>
  <link href="/static/css/projects.css" rel="stylesheet">
</head>

<body>
  <h3 class="text-center text-info">Invitation(s) Received</h3>
  <table id="projects">
        <tr>
          <th>Name</th>
          <th>Project</th>
          <th colspan="2">Decision</th>
        </tr>
        {% for invitation in invitations %}
        <tr>
          <td>{{invitation.invited_to.creator}}</a></td>
          <td>{{invitation.invited_to.name}}</td>
          <td>
            <div class="cellbutton">
              <a href="../acceptinvit/{{invitation.id}}/{{invitation.invited}}">Accept</a>
            </div>
          </td>
          <td>
            <div class="cellbutton2">
              <a href="../declineinvit/{{invitation.id}}">Decline</a>
            </div>
          </td>
        </tr>
        {% endfor %}
  </table>
  <br><br>

  <h3 class="text-center text-info">Public Project(s)</h3>
    <table id="projects">
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Join</th>
        </tr>
        {% for project in projects %}
        <tr>
          <td>{{project.creator.username}}/{{project.name}}</td>
          <td>{{project.members}}</td>
          <td>
            <div class="cellbutton">
              <a href="../joined/{{project.id}}">Join</a>
            </div></td>
        </tr>
        {% endfor %}
  </table>

</body>
{% endblock %}