body{background: #f2f6f8;}

.img{
    position:absolute;
    z-index:1;
    width: auto;
    height: auto;
    max-width: 1200px;
    max-height: 800px;}

#container{
    display:inline-block;
    width: 1200px;
    height:800px;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid black;}

#layerDraw{
    position:absolute;
    z-index:20;
}

#layerShow{
    position:absolute;
    z-index:19;
}