body{background: #f2f6f8;}

.img{
    position:absolute;
    z-index:1;
}

#container{
    display:inline-block;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid black;
}

#layerDraw{
    position:absolute;
    z-index:20;
}

#layerShow{
    position:absolute;
    z-index:19;
}
  
.next {
    background-color: #cac7c7;
    color: black;
}
  
.next:hover {
    background-color: #2e2e2e;
    color: white;
}