#projects {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
#projects td, #projects th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#projects tr:nth-child(even){background-color: #f2f2f2;}
  
#projects tr:hover {background-color: #ddd;}
  
#projects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

tr:hover {
    background: grey;
}

td a {
    display: block;
    color: inherit;
    text-decoration: inherit;
}

.cellbutton a {
    background-color: green;
    color: #f2f2f2;
    padding: 5px 7px;
    text-decoration: none;
    font-size: 17px;
  }
  

.cellbutton2 a {
    background-color: red;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
    font-size: 17px;
}
  