{% extends "parent.html" %}
{% block content %}

<h3 class="text-center text-info">Update profile</h3>
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form action="{{ url_for('update_user_info') }}" method="post">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.firstname.label (class="text-primary")}} {{ form.firstname (class="form-control bg-white text-primary", placeholder="New firstname") }}<br>
                    {% if form.firstname.errors %} {% for message in form.firstname.errors %}
                    <small class="form-text text-danger">{{ message }}</small> {% endfor %}{% endif %}<br>
                </div>

                <div class="form-group">
                    {{ form.surname.label (class="text-primary")}} {{ form.surname (class="form-control bg-white text-primary", placeholder="New surname") }}<br>
                    {% if form.surname.errors %} {% for message in form.surname.errors %}
                    <small class="form-text text-info">{{ message }}</small> {% endfor %}{% endif %}<br>
                </div>

                <div class="form-group">
                    {{ form.submit (class="btn btn-info btn-md") }}
                </div>

            </form>
            <form action="{{ url_for('delete_user') }}" method="post">
                <input type="submit"  class="btn btn-info btn-md" onclick="return confirm('Are you sure?')" value="Delete my profile" style="background-color: rgb(190, 31, 31);"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}